[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/hautenegro
[access "refs/for/refs/*"]
	read = group user/hautenegro
	push = group user/hautenegro
	label-Code-Review = -2..+2 group user/hautenegro
	label-Verified = -1..+1 group user/hautenegro
	rebase = group user/hautenegro
	removeReviewer = group user/hautenegro
	submit = group user/hautenegro
[access "refs/heads/*"]
	read = group user/hautenegro
	create = group user/hautenegro
	push = +force group user/hautenegro
	pushMerge = group user/hautenegro
[access "refs/tags/*"]
	push = group user/hautenegro
	push = +force group user/hautenegro
